$border-radius: 3px;

$pop-menu-arrow-width: 0em;

$panel-radius: 0px;
$panel-background-color-transparent: transparentize(black, 0.7);
$panel-background-color-solid: rgba(0, 0, 0, 1);
$panel-system-status-icon-size: 1.3em;
$panel-system-status-icon-padding: 0 0 0 15px;
$panel-panel-button-color: #ccc;
$panel-panel-button-hover-color: lighten($fg_color, 10%);

$dash-bg-color: transparentize(#000000, 0.7);
$dash-border-radius: 0 $border-radius $border-radius 0;
$dash-rtl-border-radius: $border-radius 0 0 $border-radius;
$dash-dash-item-container-padding: 4px 4px;
$dash-border: 1px solid rgba(255, 255, 255, 0.15); 

$overview-window-clone-border : 3px;
$overview-window-caption-border-radius: $border-radius;
$overview-search-entry-border-radius: $border-radius;
$overview-search-entry-border-width: 1px;
