
$corner-radius: 3px;

$content-view-tile-margin: 1px;

$entry-entry-basic-min-height: 22px;
$entry-entry-basic-padding-left: 4px;
$entry-entry-basic-padding-right: 4px;

$button-min-height: 18px;
$button-min-width: 18px;
$button-padding: 2px;
$button-image-button-min-width: 18px;
$button-image-button-padding-left: 4px;
$button-image-button-padding-right: 4px;
$button-text-button-padding-left: 8px;
$button-text-button-padding-right: 8px;
$button-text-button-image-button-padding-left: 4px;
$button-text-button-image-button-padding-right: 4px;
$button-label-padding-left: 4px;
$button-label-padding-right: 4px;
$button-osd-min-width: 22px;
$button-osd-min-height: 22px;
$button-stackswitcher-image-padding-top: 2px;
$button-stackswitcher-image-padding-bottom: 2px;

$spinbutton-entry-min-width: 22px;
$spinbutton-vertical-entry-min-height: 22px;
$spinbutton-vertical-entry-min-width: 22px;
$spinbutton-vertical-button-min-height: 22px;
$spinbutton-vertical-button-min-width: 22px;

$toolbar-padding: 3px 3px 3px 3px;

$header-bar-padding: 0 3px;
$header-bar-min-height: 28px;
$header-bar-title-padding-left: 8px;
$header-bar-title-padding-right: 8px;
$header-bar-button-margin-top: 3px;
$header-bar-button-margin-bottom: 3px;
$header-bar-switch-margin-top: 3px;
$header-bar-switch-margin-bottom: 3px;
$header-bar-default-decoration-min-height: 22px;
$header-bar-default-decoration-padding: 2px;
$header-bar-default-decoration-button-title-button-min-height: 18px;
$header-bar-default-decoration-button-title-button-min-width: 18px;
$header-bar-selection-mode-selection-menu-padding: 0 10px;


$menu-padding: 2px 0;

$notebook-tab-min-height: 12px;
$notebook-tab-min-width: 12px;
$notebook-tab-padding: 2px 6px;
$notebook-tab-border-width: 0px;
$notebook-tab-button-flat-margin-top: 2px;
$notebook-tab-button-flat-margin-bottom: 2px;
$notebook-tab-button-flat-min-height: 12px;
$notebook-tab-button-flat-min-width: 12px;

$switch-border-radius: 14px;
$switch-slider-min-height: 16px;
$switch-slider-min-width: 16px;

$messagedialog-titlebar-min-height: 16px;
$messagedialog-titlebar-border-top-left-radius: 4px;
$messagedialog-titlebar-border-top-right-radius: 4px;
$messagedialog-dialog-action-area-button-padding: 3px 14px;
$messagedialog-dialog-action-area-button-first-child-border-bottom-left-radius: 4px;
$messagedialog-dialog-action-area-button-first-child-border-gtk-outline-bottom-left-radius: 3px;
$messagedialog-dialog-action-area-button-first-child-border-bottom-right-radius: 4px;
$messagedialog-dialog-action-area-button-first-child-border-gtk-outline-bottom-left-radius: 3px;

$placessidebar-row-min-height: 26px;
$placessidebar-row-revealer-padding: 0 14px;

$stackswitcher-button-text-button-min-width: 60px;
$stackswitcher-button-text-button-min-height: 16px;
$stackswitcher-button-circular-min-width: 22px;
$stackswitcher-button-circular-min-height: 22px;

$decoration-box-shadow: 0 3px 9px 1px transparentize(black, 0.3);
